body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F2F2F2;
  margin: 0;
}

.header {
  height: 5vh;
  padding-top: 5px;
  font-size: 20px;
  text-align: center;
 border: 1px solid gray;
}

#map {
  height: 94vh;
  position: relative;
  z-index: 9;
}

.sideBar {
  position: absolute;
  z-index: 10;
  right: 20px;
  top: 100px;
  width: 250px;
  height: 425px;
  background: rgba(192, 192, 192, .9);
  border-radius: 10px;
}

#voteExplanation{
  font-size: 14px;
  display: block;
  text-align: left;
  padding-top: 12px;
  margin: 10px;
}


.dotLegend {
  text-align: center;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 120%;
  white-space:nowrap;
} 


table{
  margin-left: 1vw;
  margin-right: 0vw;
}

th, td {
  height:50px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}


.legends{
  position: absolute;
  bottom: 10px;
  width: 100%;
  margin: 0 auto;
  display: block;
 
}



#demo, #money, #homes {
    positon: absolute;
    background-color: #B1ACBD;
    border: 1px solid gray;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    width: 110 px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
     
}


#race, #income, #rentalrate, #annotation:visited {
    color: white;
}



a:link {
    color: white;
    text-decoration: none;
}


#legendTitle {
    font-size:10px;
}  


#demoLegend, #incomeLegend, #rentalLegend{
  margin-left: 10px;
}


#legendColor, 
#rentlegendColor  {
  height: 10px;
  width: 40px;
  border-style: solid;
  float: left;
  font-size: 10px;
  text-align: center;
  line-height: 125%;
  margin-top: 5px

}

.leaflet-label{
  background: none;
  border-color: none;
  border-width: 0;

}

.leaflet-label-right:before, .leaflet-label-left:after {
content:none;
}

.leaflet-marker-icon {
  opacity: .001;
}

.leaflet-shadow-pane {
  display: none;
}